body {
    background: #fff;
    color: #FFF;
    font-weight: 400;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
}

.text{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
}
.title{
    
}
.home-section,
.home-section .container {
    width: 100%;
    text-align: center;
}

.home-section .container-fluid {
	height:inherit;
}
.home-section .wrapper {
	height:inherit;
    position: absolute;
    overflow: hidden;
    display: table;
    width: 100%;
    left: 0;
    top: 0;
}

.home_title {
    font-size: 3em;
    text-shadow: 0 8px 6px rgba(0, 0, 0, 0.6);
    margin-top: -0.7em;
    position: absolute;
    width: 100%;
    top: 42%;
}
.home_title {
    font-size: 4.5em;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
    margin-top: -0.7em;
    position: absolute;
    width: 100%;
    top: 28%;
    color: white;
    text-align: center;
    font-weight: 200;
}
.home_logo{
    margin: auto;
    position: absolute;
    top: 25px;
    right: 4%;
    width: 250px;
}

.title_content {
    margin: auto;
    bottom: 10%;
    margin-top: -0.7em;
    position: absolute;
    width: 60%;
    opacity: 1;
    left: 0;
    right: 0;
    line-height: 100px;
    color: white;
    text-align: center;
    display: inline;
    font-family: 'Forum', cursive;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 4em;
    line-height: 1.2em;
    letter-spacing: 2px;
}

.home-section {
	background-color: #bf1377;
    background: url(../images/POSEIDON_3.jpg) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #FFF;
    width: 101%;
    height: 100%;
    overflow: hidden;
}
.home-section * {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
}
.home-section .section-content {
    height: 100%;
}
.home-section .section-content .section-wrap {
    height: 100%;
	width:100%;
}
/* ------------------------------------------------------------------------ 
About me
------------------------------------------------------------------------ */
.about-section .section-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}
.title{
    padding: 50px 0 75px 0;
    flex-basis: 100%;
    text-align: center;
}
.title h1{
    font-size: 60px;
    text-transform: uppercase;
}
.line{
    height: 5px;
    width: 100%;
}
.column-left{
    flex-basis: 50%;
}
.column-left img{
    width: 100%;
}
.column-right{
    flex-basis: 50%;
    padding: 0 50px 0 50px;
}
h2{
    font-family: Aspergit;
    text-align: center;
    line-height: 100px;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 2.7em;
    line-height: 1.2em;
    letter-spacing: 2px;
    padding-top: 25px;
    padding-bottom: 15px;
    
}
/* .column-right p{
    font-size: 1.1em;
    text-align: justify;
} */

canvas{
    height: 100vh;
}